Source: piwik
Section: web
Priority: optional
Maintainer: Aurelien Requiem <aurelien@requiem.fr>
Build-Depends: debhelper (>=7.0.15)
Standards-Version: 3.8.0

Package: piwik
Architecture: all
Homepage: http://piwik.org
Pre-Depends: debconf (>= 0.5.00) | debconf-2.0
Depends: php5-cli (>= 5.3.2), php5-mysql|php5-mysqlnd, php5-curl, php5-gd
Recommends: logrotate, libapache2-mod-php5 (>= 5.3.3)|php5-cgi (>= 5.3.2)|php5-fpm (>= 5.3.2), php5-geoip
Suggests: mysql-server
Description: leading Free/Libre open source Web Analytics software
 Piwik is a full featured PHP MySQL software program that you download and
 install on your own webserver. At the end of the five minute installation
 process you will be given a JavaScript code. Simply copy and paste this tag
 on websites you wish to track and access your analytics reports in real time.
 .
