Source: matomo
Section: web
Priority: optional
Maintainer: Aurelien Requiem <aurelien@requiem.fr>
Build-Depends: debhelper (>=13), unzip
Standards-Version: 3.8.0

Package: matomo
Architecture: all
Homepage: http://matomo.org
Pre-Depends: debconf (>= 1.5.71) | debconf-2.0
Depends: php-cli, php-mysql|php-mysqlnd, php-curl, php-gd, php-xml, python3
Recommends: logrotate, libapache2-mod-php|php-cgi|php-fpm, php-geoip
Suggests: mariadb-server | mysql-server, geoip-database-extra, php-mbstring, libmaxminddb0
Description: Leading Free/Libre open source Web Analytics software
 Matomo (formerly Piwik) is a full featured PHP MySQL software program that
 you download and install on your own webserver. At the end of the five minute
 installation process you will be given a JavaScript code. Simply copy and
 paste this tag on websites you wish to track and access your analytics reports
 in real time.
 .
