#!/bin/bash
#
# see http://www.fifi.org/doc/debconf-doc/tutorial.html
# see http://manpages.ubuntu.com/manpages/lucid/man7/debconf-devel.7.html

set -e
umask 022

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0 || { echo "$0: needs DebConf 2.0 or later"; exit 1; }

# db_beginblock

# import piwik preferences

db_get piwik/automatic-upgrade || true
if [ "$RET" = "true" ]; then
	# migrate the value
	db_set matomo/automatic-upgrade "$RET"

	# set the question as already seen
	db_fset matomo/automatic-upgrade seen true

	# reset to default value for piwik package because it's unused anyway
	db_reset piwik/automatic-upgrade

	echo "* Automatic database upgrade preference migrated from Piwik to Matomo"
fi

db_input high matomo/automatic-upgrade || true
db_go || true

# db_endblock

exit 
